.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
}

.header {
    grid-area: header;
    border: 1px solid red;
}